.navbar {
    
}
.navbar--logo {
    display: flex;
    color: dodgerblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
}
.navbar--logo img {
    border-radius: 12.5px;
    width: 40px;
    height: 40px;
    padding: 10px;
}


.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    padding: 5% ;
    
}
.card--image > h2 {
    position:absolute;
    
    background-color: cornflowerblue;
    border-radius: 7.5px;
}
.card {
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12.5px;
    padding: 5%;
    display: flex;
    flex-direction: column;   
    flex: 1 1 auto;
    background-color: aqua;
}


.card img {
    max-width: 240px;
    border-radius: 12.5px;
}
.card .my-link {
    background-color: deepskyblue;
    padding: 2%;
    border-radius: 9.5px;
    text-decoration: none;
    color: aqua;
}

.myState {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.myState > h1 {
    font-size: 100%;
    
    flex: 1;
    text-align: center;
    border-radius: 12.5px;
    padding: 5% 0%;
    margin: 5% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.myState > h1:hover {
    background-color: darkcyan;
}

.things {
    align-items: center;
}
.things--button {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    
}
.things--button > button {
    border: 3px solid aquamarine;
    background-color: white;
    padding: 10px;
    border-radius: 19.5px;
}
.things--button > button:hover {
    background-color: aquamarine;
}

.box--group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
}
.box--normal {
    text-align: center;
    color:red;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    
}
.box--normal::before {
    content: "";
    width: 10px;
    height: 10px;
    padding-left: 50px; 
    padding-right: 50px; 
    background-color: darkcyan;
    transition: .3s ease;
}
.box--normal:hover::before {
    
    padding-left: 0px; 
    padding-right: 0px; 
    transition: .3s ease;
    
}
/* .box--normal:hover {
    transform: scale(1.2);
    transition: transform .3s ease;
} */
.user--form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}